<!DOCTYPE html>
<html lang="en">
<head>
	<title>Dashboard</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/css/home.css" type="text/css" />
</head>
<body>
	<div class="mainContainer text-center" id="registerBlock">
        <div class="contentContainer">
            <h1> Welcome Back <%= name %></h1>
			<div class="dashVertical">
				<div class="dashHorizontal">
					<figure>
						<a href="/new">
							<img src="assets/plus.svg" class="icon">
							<figcaption>Create A New Job</figcaption>
						</a>
					</figure>
					<figure>
						<img src="assets/book-alt.svg" class="icon">
						<figcaption>View/Modify Jobs</figcaption>
					</figure>
				</div>
				<div class="dashHorizontal">
					<figure>
						<img src="assets/users-alt.svg" class="icon">
						<figcaption>Manage Employees</figcaption>
					</figure>
					<figure>
						<img src="assets/signout.svg" class="icon">
						<figcaption>Logout</figcaption>
					</figure>
				</div>
			</div>
		</div>
	</div>	

</body>
</html>

