<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/loginForms.css">
</head>
<body>
    <div class="mainContainer text-center" id="registerBlock">
        <div class="contentContainer">
            <h1>Login to Your Account</h1>
        
            <div class="container" id="alerts">
            <%  if(errorMessages){ %>
            <% for(message of errorMessages){ %>
                <div class="alert alert-warning"><%= message %></div>
                <%}%>
            <% } %>
            </div>
            <hr>
            
            <form action="/login" method="post">
                <div class="form-group">
                    <label for="email" class="form-label">Email Address:</label>
                    <input type="email" class="form-control" name="email" id="email">
                </div>
                <div class="form-group">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <br>
                <div class="form-group">
                    <input class="btn btn-lg btn-primary" type="submit">
                </div>
            </form>
        </div>
        
    </div>
</body>
</html>