<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dataPage.css">
</head>
<body>
    <!-- I almost want to switch to cards for this job view page instead of a table, but too tired atm-->
    <div class="mainContainer text-center">
        <div class="contentContainer">
            <h2>Jobs</h2>
            <hr>
            <div class="tableContainer">
                <table class="jobTable">
                    <tr class="jobItem">
                        <th>Job Name</th>
                        <th>Description</th>
                        <th>Location</th>
                        <th>Date</th>
                    <tr>
                    <% if(jobs){%>
                        <% for (const job of jobs){ %>
                            <tr class="jobItem">
                                <td>
                                    <%= job.name %>
                                </td>
                                <td>
                                    <%= job.description %>
                                </td>
                                <td>
                                    <%= job.location %>
                                </td>
                                <td>
                                    <%= job.date %>
                                </td>
                            </tr>
                        <% }%>
                    <% } %>




                    
                </table>
            </div>
            <a href="/home"><button class="btn btn-lg btn-primary">Dashboard</button></a>
        </div>
    </div>
</body>
</html>