<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dataPage.css">
</head>
<body>
    <div class="mainContainer text-center">
        <div class="contentContainer">
            <h2>Jobs</h2>
            <table class=jobTable>
                <tr class="jobItem">
                    <td>
                        Job 1
                    </td>
                    <td>
                        1.2
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>