.icon{
	height: 28vh;
}
.mainContainer{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.dashVertical{
	display: flex;
	flex-direction: column;
	
}
.dashHorizontal{
	display: flex;
	justify-content: center;
	align-items: center;
}
figure{
	margin: 50px
}
figcaption{
	color: rgb(101, 99, 255);
}